# Values need to have VITE prefix
# https://vitejs.dev/guide/env-and-mode.html#env-files

# Get this from https://console.cloud.google.com/apis/credentials
# Or use these for development purposes only, NOTICE: will only work on localhost:3000
# Setting it empty will disable Google login.
VITE_GOOGLE_CLIENT_ID=970987756660-35a6tc48hvi8cev9cnknp0iugv9poa23.apps.googleusercontent.com

# Get this from Apple Developer Portal
# Or use these for development purposes only, NOTICE: will only work on localhost.direct:443
# Setting it empty will disable Apple login.
VITE_APPLE_CLIENT_ID=com.horizon.sequence.waas

# The Sequence Project Access Key, used for auth with Sequence API
VITE_SEQUENCE_PROJECT_ACCESS_KEY=

# The Sequence Wallet as a Service (WaaS) config key, used for SDK config
VITE_SEQUENCE_WAAS_CONFIG_KEY=

# This is the Sequence indexer API key, used for fetching ERC1155 token balances
VITE_SEQUENCE_INDEXER_API_KEY=3XwfKaFvrgRIZ6om79SxYoTAAAAAAAAAA
